<div class="pageWrapper">
  <div class="tablesWrapper">
    <mss-table [values]="users" [columns]="usersCols" [loading]="loadingUsers" [(selection)]="selectedUser"
      (selectionChange)="onUserSelectinChange($event)"></mss-table>
    <mss-table [values]="authorities" [columns]="authoritiesCols" [loading]="loadingAuthorities" minWidth="20rem"
      dataKey="name" selectionMode="multiple" [multiSelectionDisabled]="selectedUser?.login ==='admin' || !selectedUser"
      [(selections)]="selectedAuthorities"></mss-table>
  </div>
  <div class="actions">
    <p-button (onClick)="save()" [disabled]="!selectedUser">Zapisz</p-button>
  </div>
</div>
